<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/blog.css">
        <link rel="stylesheet" href="/public/style.css">
        <script src="https://kit.fontawesome.com/558e0a74fa.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    </head>
    <body>
        
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"> <i class="fab fa-wordpress fa-2x"></i> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/blog">Home</a>
                </li>
                <li>
                    <a class="nav-link active text-orange" aria-current="page" href="/index">Blog</a>
                </li>
                </ul>
                <form class="d-flex ">
               <div>     
                <a href="/contact"<button type="button" class="btn btn-danger px-2">Contact Me</button></a>
                <a href="/register"<button type="button" class="btn btn-danger px-2 ">Register</button></a>
                </div>
            </form>
          </div>
        </div>
      </nav>



       <div class="everything">
       <div class="body-container">
           <div class="img-body">
                <img class="mars" src="assets/download.jpg" alt="">
                <img class="saya" src="assets/saya.jpg.jpg" alt="">
            </div>
            <div class="info-container">
                    <h1>Alifian Alfirazi</h1>
                    <div>
                    <h4 class="skills">Skills and Experiences</h4>
                        <div class="i">
                            <div class="i-sub">
                            <i class="fab fa-js-square fa-2x"> </i>
                            <p>Javascript Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            </div>
                            <div class="i-sub">
                            <i class="fab fa-html5 fa-2x"> </i>
                            <p>HTML Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            </div>
                            <div class="i-sub">
                            <i class="fab fa-css3-alt fa-2x"> </i>
                            <p>CSS Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="icon-bottom">
                    <p style=" border-radius: 8px;">Web Development</p> 
                    <p style=" border-radius: 8px;">Web Design</p>
                     <p style=" border-radius: 8px;">UI/UX</p>
                    </div>
                    <div class="icon-bottom-b">
                        <p style=" border-radius: 8px;">+3</p>
                        <p style=" border-radius: 8px;">Frontend Developer</p>
                        <p style=" border-radius: 8px;">Data Analysis</p>
                    </div>
            </div>
       </div>

       <div class="main-teks">
           <div class="whatIDo">
               <h1>What I Do</h1>
               <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae recusandae necessitatibus quaerat maiores quam, asperiores et voluptatem aliquam ipsa dolor eligendi error ipsum mollitia nesciunt fuga consectetur architecto repellendus minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestias quod quas qui. Cumque, quo hic, laudantium et saepe facere ratione optio quam tempore quisquam nam cupiditate maiores. Aspernatur, rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo debitis ex quae, facilis, minus quas ab cumque officia soluta asperiores, animi quo id nihil ea doloribus vel maiores dignissimos in!</p>
           </div>
           <div class="mySkills">
               <div class="js">
                   <img class="a1" src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Front-end-logo-color%402x.png" alt="">
                   <h2 class="skill">Front Developer</h2>
                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae laudantium, quisquam nemo sed amet nostrum voluptatem suscipit. Quis eveniet dolor aperiam perferendis aliquid quos alias, corporis soluta? Corrupti, aperiam doloremque.</p>
               </div>
               <div class="cat">
                   <img class="a1" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
                   <h2 class="skill">Version Control</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim ipsum at, nostrum voluptatum cumque corporis minus fugiat similique consequuntur perferendis ut delectus pariatur obcaecati earum, labore ad eius nisi.</p>
               </div>
               <div class="abstract">
                   <img class="a1" src="https://cdn-icons.flaticon.com/png/512/2581/premium/2581947.png?token=exp=1641779873~hmac=a11282d18cd02487863987a31a2c7e98" alt="">
                   <h2 class="skill">Automated Deployment</h2>
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore quo repudiandae provident numquam! Eveniet, iusto tempore rem enim architecto nulla quo corporis? Labore ipsum nisi tenetur et sapiente sit dolores?</p>
               </div>
           </div>
           <footer>
            <h2>Found Me on</h2>
            <div class="img-footer">
                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://www.instagram.com/"> <i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/?lang=en"> <i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://id.pinterest.com/"><i class="fab fa-pinterest fa-2x"></i> </a>
               
            </div>
        </footer>
        </div>
       </div>
       
        <script src="" async defer></script>
    </body>
</html>